@use "sass:color";
@use "../../abstracts" as *;

.prize_input- {
	&first {
		display: flex;
		gap: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: 1/16 * 1rem solid $grey-100;
		.text_input--container:first-child {
			width: 60%;
		}
		.text_input--container:last-child {
			width: 40%;
		}
	}
	&units {
		display: flex;
		color: $grey-700;
	}
}
