#checkforrepeat {
  --hello:world;
}

#boc-overlaping_phones {
  overflow: hidden;
}
#boc-overlaping_phones .image_area {
  position: relative;
}
#boc-overlaping_phones img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#boc-player_select .image_area {
  grid-column: 2/span 8;
}
@media (min-width: 1024px) {
  #boc-player_select .image_area {
    grid-column: 3/span 4;
  }
}
#boc-player_select .image_area .content {
  position: relative;
}
#boc-player_select .image_area .content .frame {
  pointer-events: none;
  position: relative;
  z-index: 10;
}
#boc-player_select .image_area .content .screen_content {
  position: absolute;
  left: 8.3%;
  width: 67%;
  top: 4.39%;
  height: 80.632%;
  border-radius: 20px;
}
#boc-player_select .image_area .content .film_strip {
  position: absolute;
  top: 50%;
  left: 8.2%;
  height: 20%;
  overflow: hidden;
  width: 130%;
  z-index: 11;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(80%, black), to(transparent));
  -webkit-mask-image: linear-gradient(90deg, black 80%, transparent 100%);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(80%, black), to(transparent));
          mask-image: linear-gradient(90deg, black 80%, transparent 100%);
  mask-mode: alpha;
}
@media (min-width: 1024px) {
  #boc-player_select .image_area .content .film_strip {
    width: 200%;
  }
}
#boc-player_select .image_area .content .film_strip img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

@media (min-width: 768px) {
  #boc-mobile_screen_grid {
    margin-top: 5rem;
  }
}
#boc-mobile_screen_grid .grid_area {
  margin: 12.5% 0;
  --items_per_row:3;
}
@media (min-width: 768px) {
  #boc-mobile_screen_grid .grid_area {
    --items_per_row:5;
    margin-right: -10%;
  }
}
@media (min-width: 1280px) {
  #boc-mobile_screen_grid .grid_area {
    margin-right: 0%;
  }
}
#boc-mobile_screen_grid .grid_area > .content .image_area {
  position: relative;
  padding: 0;
}
#boc-mobile_screen_grid .grid_area > .content .image_area .content img {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 1rem;
}
#boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(1), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(4), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(7) {
  top: 16.6666666667%;
}
#boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(2), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(5), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(8) {
  top: 0;
}
#boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(3), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(6), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(9) {
  top: 33.3333333333%;
}
@media (min-width: 768px) {
  #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(1), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(n+5) {
    top: 0;
  }
  #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(2), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(2n+5) {
    top: -33.3333333333%;
  }
  #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(3), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(3n+5) {
    top: -16.6666666667%;
  }
  #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(4), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(4n+5) {
    top: 0;
  }
  #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(5), #boc-mobile_screen_grid .grid_area > .content .image_area:nth-child(5n+5) {
    top: 50%;
  }
}
/*# sourceMappingURL=beer_olympics.css.map */