.match_card {
 display: flex;
 gap: 0.625rem;
 padding: 1rem 1rem 1rem 1rem;
 border-radius: 0.25rem;
 flex-direction: column;
 align-items: center;
 margin-top: 1.5625rem;
 border: 1px solid var(--timing_color-light);
 --match_size: 3.125rem;
 --timing_color: #62676f;
 --timing_color-light: #edf0f2;
}
.match_card .match_number {
 margin-bottom: calc(var(--match_size) / 4 * -3);
 transform: translate(0, -75%);
 background-color: var(--timing_color);
}
.match_card--teams {
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 0.25rem;
}
[expanded=false] .match_card--teams {
 gap: 0.5rem;
}
.match_card .button {
 --button-primary: var(--timing_color);
}
.match_card[expanded=false] {
 flex-direction: row;
 margin-top: 0;
 padding: 0.75rem;
 --match_size: 2.5rem;
}
.match_card[expanded=false] .match_number {
 margin-bottom: 0;
 transform: translate(0, 0%);
}
.match_card[expanded=false] .button {
 display: none;
}
.match_card[expanded=false] .score_match {
 display: none;
}
.match_card[expanded=false] .score_summary {
 display: flex;
}
.match_card[timing=upcoming] {
 --timing_color: #7c8188;
 --timing_color-light: #edf0f2;
}
.match_card[timing=current] {
 --timing_color: #2f7bd5;
 --timing_color-light: #9ec0f5;
}
.match_card[timing=complete] {
 --timing_color: #7193bb;
 --timing_color-light: #dae7fb;
}

.standings_card {
 display: flex;
 gap: 1rem;
 padding: 1rem 0;
 flex-direction: row;
 align-items: center;
}
.standings_card:not(:last-child) {
 border-bottom: 0.0625rem solid #edf0f2;
}
.standings_card .circle_number {
 flex-shrink: 0;
}
.standings_card .profile_image {
 flex-shrink: 0;
}
.standings_card--name {
 font-size: 0.9375rem;
 line-height: 1.2;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 600;
 letter-spacing: -0.01em;
 color: #141b24;
 width: 100%;
}
.standings_card--scores {
 display: flex;
 gap: 0.5rem;
}