@use "sass:color";
@use "../../abstracts" as *;

// Match Card
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=50%3A2029&t=WOZdHWgOjktRD2qI-1
// Dependancy: none

.match_card {
	display: flex;
	gap: 10/16 * 1rem;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 0.25rem;
	flex-direction: column;
	align-items: center;
	margin-top: 25/16 * 1rem;
	border: 1px solid var(--timing_color-light);

	--match_size: #{50/16 * 1rem};
	--timing_color: #{$grey-600};
	--timing_color-light: #{$grey-100};

	//match number
	.match_number {
		margin-bottom: calc(var(--match_size) / 4 * -3);
		transform: translate(0, -75%);
		background-color: var(--timing_color);
	}

	&--teams {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4/16 * 1rem;
		[expanded="false"] & {
			gap: 8/16 * 1rem;
		}
	}

	.button {
		--button-primary: var(--timing_color);
	}

	&[expanded="false"] {
		flex-direction: row;
		margin-top: 0;
		padding: 12/16 * 1rem;
		--match_size: #{40/16 * 1rem};

		.match_number {
			margin-bottom: 0;
			transform: translate(0, 0%);
		}
		.button {
			display: none;
		}
		.score_match {
			display: none;
		}
		.score_summary {
			display: flex;
		}
	}

	&[timing="upcoming"] {
		--timing_color: #{$grey-500};
		--timing_color-light: #{$grey-100};
	}
	&[timing="current"] {
		--timing_color: #{$blue-500};
		--timing_color-light: #{$blue-300};
	}
	&[timing="complete"] {
		--timing_color: #{$blue-past};
		--timing_color-light: #{$blue-200};
	}
}
