/*css/components/index.scss*/
div,
span,
p {
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
}

:root {
  --result: #959aa0;
  --timing-primary: #62676f;
  --primary_color: #141b24;
  --secondary_color: #484e56;
  --contrast_color: #ffffff;
}

i {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.inline_icon, .team[home=true] i {
  display: inline-block;
  font-size: 0.6em;
  padding: 0.4em;
  border-radius: 50%;
  background-color: #141b24;
  color: #ffffff;
  margin-left: 0.25em;
}

.profile_image {
  font-size: 0.75rem;
  width: 4em;
  height: 4em;
  position: relative;
  outline: 0.25rem solid #ffffff;
  background: #c8ccd2;
  color: #141b24;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_image.large {
  font-size: 1.375rem;
}
.profile_image span {
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
}
.profile_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile_image img[src=undefined], .profile_image img[src=""] {
  display: none;
}

.match_number {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  background: var(--timing-primary);
  color: #ffffff;
  outline: 0.25rem solid transparent;
}
[timing=upcoming] .match_number {
  --timing-primary: #62676f;
}
[timing=current] .match_number {
  --timing-primary: #2f7bd5;
}
[timing=past] .match_number {
  --timing-primary: #6299ef;
}

.scorebox {
  display: inline-block;
  font-size: 0.875rem;
  min-width: 1.5rem;
  line-height: 100%;
  padding: 0.3125rem 0.375rem;
  color: var(--result);
  border: 0.09375rem solid var(--result);
  border-radius: 0.1875rem;
  text-align: center;
  font-weight: 700;
}
.scorebox[data=record] {
  --result: #2f7bd5;
}
.scorebox[data=diff].positive {
  --result: #11955e;
}
.scorebox[data=diff].negative {
  --result: #ce1234;
}
.scorebox[data=diff].even {
  --result: #959aa0;
}
.scorebox-container {
  display: flex;
  gap: 0.75rem;
}

.score_display {
  --result: #edf0f2;
  font-size: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2em;
  height: 3.2em;
  border-radius: 0.25rem;
  background-color: var(--result);
  color: #141b24;
  font-weight: 600;
}
[result=win] .score_display {
  --result: #11955e;
  color: #ffffff;
}
[result=loss] .score_display {
  --result: #ce1234;
  color: #ffffff;
}
[result=draw] .score_display {
  --result: #c8ccd2;
}

.scoreboard {
  --team_color: #2f7bd5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 2rem 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), var(--team_color);
}
.scoreboard.away {
  --team_color: #d5572f;
}
.scoreboard .player_names {
  font-size: 1.125rem;
  display: flex;
  gap: 0.2em;
  font-weight: 600;
}
.scoreboard .score {
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 120%;
}

.button {
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 0.8125rem;
  padding: 0.6666666667em 1.1666666667em;
  background: #2f7bd5;
  border-radius: 0.25rem;
  border: 0;
  outline: 0;
  width: 100%;
  text-align: center;
}
[timing=upcoming] .button {
  background: #afb3ba;
}
[timing=current] .button {
  background: #2f7bd5;
}
[timing=complete] .button {
  background: #6299ef;
}

.icon_button {
  font-size: 1.25rem;
  width: 1.6em;
  height: 1.6em;
  padding: 0;
  border-radius: 50%;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #2f7bd5;
}
.icon_button.current {
  background: #6299ef;
  color: #ffffff;
}
.icon_button.inactive {
  background: #2f7bd5;
  color: #6299ef;
}

.button_container {
  display: flex;
  gap: 1rem;
}

.name_card {
  display: inline-block;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #edf0f2;
  color: #484e56;
}
.current .name_card {
  background-color: #ffffff;
  color: #2f7bd5;
}

.dropdown-label {
  color: var(--text_color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.dropdown-label span {
  color: inherit;
  font-size: inherit;
  font-weight: 600;
}
.dropdown-label svg {
  width: 0.6em;
  color: inherit;
}
.dropdown-label svg * {
  fill: currentColor;
}

.seed {
  font-size: 0.625rem;
  color: #141b24;
  width: 2em;
  height: 2em;
  border: 0.0625rem solid currentColor;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  font-weight: 600;
  color: #141b24;
}
[expanded=false] .team .player-current {
  display: none;
}
.team .versus {
  display: none;
}
[expanded=false] .team .versus {
  display: inline-block;
}
.team .seperator::after {
  content: "/";
}
[expanded=false] .team .seperator::after {
  content: "with";
}
[expanded=false] .team.opponents {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #959aa0;
}
.team[home=true] i::after {
  content: "home";
  display: inline;
}
[expanded=false] .team[home=true] i {
  display: none;
}