/*css/blocks/match_card.scss*/
div,
span {
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  letter-spacing: -0.01em;
}

body {
  padding: 0.9375rem;
}

[timing=default] {
  --state-primary_color: #62676f;
  --state-contrast_color: #ffffff;
}

[timing=current] {
  --state-primary_color: #2f7bd5;
  --state-contrast_color: #ffffff;
}

[timing=complete] {
  --state-primary_color: #6299ef;
  --state-contrast_color: #ffffff;
}

[result=default] {
  --result-contrast_color: grey-900;
  --result-primary_color: grey-100;
}

[result=win] {
  --result-contrast_color: #ffffff;
  --result-primary_color: green-500;
}

[result=loss] {
  --result-contrast_color: #ffffff;
  --result-primary_color: red-500;
}

[result=empty] {
  --result-contrast_color: transparent;
  --result-primary_color: #62676f;
}

[result=hidden] {
  --result-contrast_color: transparent;
  --result-primary_color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card {
  padding: 0 0.75rem 0.75rem 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border: 0.0625rem solid #edf0f2;
  position: relative;
  margin: 1.5625rem 0 0 0;
}
.card[expanded=false] {
  margin: 0;
  padding: 0.75rem;
  flex-direction: row;
  align-items: stretch;
}

.match_label {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  background: var(--state-primary_color);
  color: #ffffff;
  margin: 0 auto -1.5625rem auto;
  transform: translate(0, -50%);
  outline: 0.25rem solid white;
}
[expanded=false] .match_label {
  margin: 0;
  transform: translate(0, 0);
}
.match_label--number {
  color: inherit;
  font-size: 1em;
}

.team_container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  flex-grow: 1;
  justify-content: center;
}

.team_row {
  display: flex;
  align-items: center;
}

.player_names {
  flex-grow: 1;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #141b24;
  display: flex;
  gap: 0.2em;
  justify-content: flex-start;
  align-items: center;
}
.player_names .seperator::after {
  content: "/";
}
[expanded=false] .current .player_names .seperator::after {
  content: "with";
}
[expanded=false] .opponents .player_names .seperator::after {
  content: "and";
}
[expanded=false] .player_names .current_player {
  display: none;
}
.player_names .versus {
  display: none;
}
[expanded=false] .player_names .versus {
  display: inline;
}
[expanded=false] .opponents .player_names {
  font-size: 0.8125rem;
  color: #959aa0;
  font-weight: 500;
}

.team_score {
  font-size: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2em;
  height: 3.2em;
  border-radius: 0.25rem;
  background-color: #edf0f2;
  color: #141b24;
  font-weight: 600;
}
[expanded=false] .team_score {
  display: none;
}

[expanded=false] .button_container {
  display: none;
}

button {
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 0.6666666667em 1.1666666667em;
  background: #afb3ba;
  border-radius: 0.25rem;
  border: 0;
  outline: 0;
  width: 100%;
  text-align: center;
}
[timing=current] button {
  background: #2f7bd5;
}
[timing=complete] button {
  background: #6299ef;
}

.match_score--container {
  display: none;
}
[expanded=false] .match_score--container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 2.625rem;
  padding: 0.25rem 0;
  font-size: 0.9375rem;
  color: #7c8188;
}