@use "sass:color";
@use "../abstracts" as *;

//================================================
/*css/blocks/match_card.scss*/
//================================================

div,
span {
  font-family: $sans_font;
  letter-spacing: -0.01em;
}

body {
  // padding: 15/16 * 1rem;
}

[timing="default"] {
  --state-primary_color: #{$grey-600};
  --state-contrast_color: #{$white};
}
[timing="current"] {
  --state-primary_color: #{$blue-500};
  --state-contrast_color: #{$white};
}
[timing="complete"] {
  --state-primary_color: #{$blue-300};
  --state-contrast_color: #{$white};
}

[result="default"] {
  --result-contrast_color: #{grey-900};
  --result-primary_color: #{grey-100};
}
[result="win"] {
  --result-contrast_color: #{$white};
  --result-primary_color: #{green-500};
}
[result="loss"] {
  --result-contrast_color: #{$white};
  --result-primary_color: #{red-500};
}
[result="empty"] {
  --result-contrast_color: transparent;
  --result-primary_color: #{$grey-600};
}
[result="hidden"] {
  --result-contrast_color: transparent;
  --result-primary_color: transparent;
}
.container-matches {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 15/16 * 1rem;
}

.card {
  padding: 0 12/16 * 1rem 12/16 * 1rem 12/16 * 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 10/16 * 1rem;
  border: 1/16 * 1rem solid $grey-100;
  position: relative;
  margin: 25/16 * 1rem 0 0 0;

  &[expanded="false"] {
    margin: 0;
    padding: 12/16 * 1rem;
    flex-direction: row;
    align-items: stretch;
  }
}

.match_label {
  font-size: 1rem;
  @include f-center;
  width: 50/16 * 1rem;
  height: 50/16 * 1rem;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  background: var(--state-primary_color);
  color: $white;
  margin: 0 auto -25/16 * 1rem auto;
  transform: translate(0, -50%);
  outline: 0.25rem solid white;

  [expanded="false"] & {
    margin: 0;
    transform: translate(0, 0);
  }

  &--number {
    color: inherit;
    font-size: 1em;
  }
}
.team_container {
  display: flex;
  flex-direction: column;
  gap: 10/16 * 1rem;
  flex-grow: 1;
  justify-content: center;
}
.team_row {
  display: flex;
  align-items: center;
}

.player_names {
  flex-grow: 1;
  font-size: 15/16 * 1rem;
  font-weight: 600;
  color: $grey-900;
  display: flex;
  gap: 0.2em;
  justify-content: flex-start;
  align-items: center;

  .seperator {
    &::after {
      content: "/";
      [expanded="false"] .current & {
        content: "with";
      }
      [expanded="false"] .opponents & {
        content: "and";
      }
    }
  }
  .current_player {
    [expanded="false"] & {
      display: none;
    }
  }
  .versus {
    display: none;
    [expanded="false"] & {
      display: inline;
    }
  }
  [expanded="false"] .opponents & {
    font-size: 13/16 * 1rem;
    color: $grey-400;
    font-weight: 500;
  }
}

.team_score {
  font-size: 10/16 * 1rem;
  @include f-center;
  width: 32/10 * 1em;
  height: 32/10 * 1em;
  border-radius: 0.25rem;
  background-color: $grey-100;
  color: $grey-900;
  font-weight: 600;
  [expanded="false"] & {
    display: none;
  }
}
.button_container {
  [expanded="false"] & {
    display: none;
  }
}
button {
  font-family: $sans_font;
  color: $white;
  font-size: 12/16 * 1rem;
  padding: 8/12 * 1em 14/12 * 1em;
  background: $grey-300;
  border-radius: 0.25rem;
  border: 0;
  outline: 0;
  width: 100%;
  text-align: center;
  [timing="current"] & {
    background: $blue-500;
  }
  [timing="complete"] & {
    background: $blue-300;
  }
}

.match_score--container {
  display: none;

  [expanded="false"] & {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 42/16 * 1rem;
    padding: 0.25rem 0;
    font-size: 15/16 * 1rem;
    color: $grey-500;
  }
}
.match_score {
}
