@use "sass:color";
@use "../abstracts" as *;

//================================================
/*css/blocks/player_list.scss*/
//================================================

header {
  font-size: 20/16 * 1rem;
  background: $blue-500;
  padding: 12/16 * 1rem 0;
  border-bottom: 1px solid $white;
}

nav {
  font-size: 20/16 * 1rem;
  background: $blue-500;
  padding: 40/16 * 1rem 15/16 * 1rem;
  display: flex;
  .dropdown {
    flex-grow: 1;
  }
  .dropdown_label {
    justify-content: flex-start;
  }
}

.player_profile {
  @include f-center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  .round_edge {
    width: 100%;
    position: absolute;
    top: 0;
    * {
      fill: $blue-500;
    }
  }
}
.profile_picture {
  width: 88/16 * 1rem;
  height: 88/16 * 1rem;
  position: relative;
  border: 0.25rem solid $white;
  border-radius: 50%;
  overflow: hidden;
  img {
    @include image_cover;
  }
}

.score_display {
  display: flex;
  gap: 1rem;
}
.score_item {
  --result: #{$grey-400};
  border: 1px solid var(--result);
  border-radius: 3/16 * 1rem;
  padding: 5/16 * 1rem 6/16 * 1rem;
  min-width: 24/16 * 1rem;
  font-size: 14/16 * 1rem;
  text-align: center;
  line-height: 100%;
  font-weight: 700;
  color: var(--result);
}

.button_container {
  display: flex;
  gap: 1rem;
}

.icon_button {
  font-size: 20/16 * 1rem;
  width: 32/20 * 1em;
  height: 32/20 * 1em;
  padding: 0;
  border-radius: 50%;
  @include f-center;
  --background_color: #{$blue-500};
  --text_color: #{$white};

  background: var(--text_color);
  color: var(--background_color);
  outline: 1px solid var(--background_color);
}

.dropdown {
  &_label {
    color: $white;
    @include f-center;
    gap: 8/20 * 1em;
    span {
      color: inherit;
      font-size: inherit;
      font-weight: 600;
    }
    svg {
      width: 12/20 * 1em;
      color: inherit;
      * {
        fill: currentColor;
      }
    }
  }

  &_panel {
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    height: 0;
    cursor: none;
    .panel_back {
      @include image_cover;
      background: rgba($color: $black, $alpha: 0.5);
      opacity: 0;
    }
    &.open {
      cursor: initial;
      height: 100%;
    }
  }

  &_options {
    background: $white;
    padding: 24/16 * 1rem;
    display: flex;
    gap: 24/16 * 1rem;
    border-radius: 1rem 1rem 0 0;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 100%);

    &::before {
      content: "";
      display: block;
      width: 60/16 * 1rem;
      height: 0.25rem;
      background: $grey-200;
      border-radius: 0.25rem;
    }
    &-- {
      &list {
        display: flex;
        flex-direction: column;
        gap: 10/16 * 1rem;
        align-items: flex-start;
        width: 100%;
      }
    }
  }
}

.player_item {
  display: inline-block;
  font-size: 14/16rem;
  border-radius: 0.25rem;
  padding: 4/16 * 1rem 8/16 * 1rem;
  background-color: $grey-100;
  color: $grey-700;

  &[state="current"] {
    background-color: $white;
    color: $blue-500;
  }

  &.primary {
    padding: 8/16 * 1rem 16/16 * 1rem;
    &[state="current"] {
      background-color: $blue-500;
      color: $white;
    }
  }
}

//Team
.team {
  font-size: 15/16 * 1rem;
  display: flex;
  gap: 0.2em;
  font-weight: 600;
  color: $grey-900;

  // .player- {
  //   &current {
  //   }
  //   &partner {
  //   }
  //   &opponent_1 {
  //   }
  //   &opponent_2 {
  //   }
  // }
  // .seperator {
  //   &::after {
  //     content: "/";
  //   }
  // }

  // &::after {
  //   content: "home";
  //   display: inline;
  // }
}
