@use "sass:color";
@use "../abstracts" as *;

// text styles

h1 {
	@include text_base($p: 20, $h: 1, $w: 500);
}
h2 {
	@include text_base($p: 20, $h: 1, $w: 500);
}

h3 {
	@include text_base($p: 18, $h: 1, $w: 500);
}
h4 {
	@include text_base($p: 16, $h: 1, $w: 500);
}

p {
	@include text_base($p: 14, $h: 1.45, $w: 300);
	color: $grey-600;
	b {
		font-weight: 600;
		color: $grey-900;
	}
	&.reminder {
		font-style: italic;
		color: $grey-500;
		font-size: 13/16 * 1rem;
		font-weight: 300;
	}
}

.container {
	> {
		@include text_nodes {
			text-align: center;
		}
	}
}
.text_group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

@include text_nodes {
	.emphasis {
		color: $blue-500;
		font-weight: 600;
	}
}

@each $type in $colors_full {
	.is-#{nth($type, 1)} {
		color: #{nth($type, 2)};
	}
}
