:root {
 --margin-none: 0rem;
 --margin-narrow: 1rem;
 --margin-wide: 2rem;
}

*,
*::after,
*::before {
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
}

main {
 margin: 2.5rem var(--margin-narrow);
 --background_color: #ffffff;
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
}

.margin-narrow {
 margin-left: var(--margin-narrow);
 margin-right: var(--margin-narrow);
}
.margin-inset {
 margin-left: var(--margin-wide);
 margin-right: var(--margin-wide);
}
.margin-bleed {
 margin-left: 0;
 margin-right: 0;
}