:root {
 --margin-none: 0rem;
 --margin-narrow: 1rem;
 --margin-wide: 2rem;
}

*,
*::after,
*::before {
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
}

main {
 padding: 2.5rem var(--margin-narrow);
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
}
main.inset {
 padding: 2.5rem var(--margin-wide);
}
main.bleed {
 padding: 2.5rem 0;
}