@use "sass:color";
@use "../abstracts" as *;

:root {
	--margin-none: 0rem;
	--margin-narrow: 1rem;
	--margin-wide: 2rem;
	--background_color: #{$white};
	--text_color-primary: #{$grey-900};
	--text_color-secondary: #{$grey-700};
}

*,
*::after,
*::before {
	font-family: $sans_font;
}

main {
	margin: 40/16 * 1rem var(--margin-narrow);
	--background_color: #{$white};

	display: flex;
	flex-direction: column;
	gap: 24/16 * 1rem;
}

hr {
	width: 100%;
	height: 0;
	border: 0;
	border-bottom: 1/16 * 1rem solid $grey-100;
}

.intro {
	--background_color: #{$blue-500};
	--text_color-primary: #{$white};
	--text_color-secondary: #{$grey-100};
}

.margin- {
	&narrow {
		margin-left: var(--margin-narrow);
		margin-right: var(--margin-narrow);
	}
	&inset {
		margin-left: var(--margin-wide);
		margin-right: var(--margin-wide);
	}
	&bleed {
		margin-left: 0;
		margin-right: 0;
	}
}
