@use "sass:color";
@use "../abstracts" as *;

:root {
	--margin-none: 0rem;
	--margin-narrow: 1rem;
	--margin-wide: 2rem;
}

*,
*::after,
*::before {
	font-family: $sans_font;
}

main {
	margin: 40/16 * 1rem var(--margin-narrow);
	--background_color: #{$white};

	display: flex;
	flex-direction: column;
	gap: 24/16 * 1rem;
}

.margin- {
	&narrow {
		margin-left: var(--margin-narrow);
		margin-right: var(--margin-narrow);
	}
	&inset {
		margin-left: var(--margin-wide);
		margin-right: var(--margin-wide);
	}
	&bleed {
		margin-left: 0;
		margin-right: 0;
	}
}
