@use "sass:color";

//colors
$blue-500: #2f7bd5;
$blue-400: #6299ef;
$blue-300: #9ec0f5;
$red-500: #ce1234;
$green-500: #11955e;
$black: #000000;
$grey-900: #141b24;
$grey-800: #2e343c;
$grey-700: #484e56;
$grey-600: #62676f;
$grey-500: #7c8188;
$grey-400: #959aa0;
$grey-300: #afb3ba;
$grey-200: #c8ccd2;
$grey-100: #edf0f2;
$grey-50: #f6f8f9;
$white: #ffffff;
