@use "sass:color";

//measurements

$u25: 4/16 * 1rem;
$u50: 8/16 * 1rem;
$u75: 12/16 * 1rem;
$u100: 16/16 * 1rem;
$u200: 20/16 * 1rem;
$u300: 24/16 * 1rem;
$u400: 32/16 * 1rem;
$u500: 40/16 * 1rem;
$u600: 48/16 * 1rem;
$u700: 60/16 * 1rem;
$u800: 90/16 * 1rem;
$u900: 128/16 * 1rem;
