@use "sass:color";
@use "../../abstracts" as *;

// Card List
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=135%3A6399&t=tLnBO6G3490375JL-11
// Dependancy: none

.card_list {
	&.standings_list {
		display: grid;
		grid-template-columns: 1fr;
	}

	.standings_card {
		grid-row: auto;
	}

	//for sort method
	//sort properties are assigned as var(--) with JS
	&[list_order="player_number"] .standings_card {
		grid-row: var(--index);
	}
	&[list_order="rank"] .standings_card {
		grid-row: var(--rank);
	}
}
