.card_list {
 display: flex;
 flex-direction: column;
 gap: 0.75rem;
}
.card_list.match_list, .card_list:has(.match_card) {
 gap: 0.75rem;
}
.card_list.schedule_list, .card_list:has(.schedule_card) {
 gap: 0.75rem;
}