@use "sass:color";
@use "../../abstracts" as *;

// Match Number
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=49%3A408&t=WOZdHWgOjktRD2qI-1
// Dependancy: none

.match_number {
	@include f-center;
	@include text_base;

	font-size: 1rem;
	font-weight: 600;
	height: var(--match_size);
	width: var(--match_size);
	border-radius: 50%;
	flex-shrink: 0;

	color: $white;
	outline: 0.25rem solid $white;
	background: $grey-600;

	[timing="upcoming"] & {
		background: $grey-600;
	}
	[timing="current"] & {
		background: $blue-400;
	}
	[timing="past"] & {
		background: $blue-600;
	}
}
