.match_number {
 --match_size: 3.125rem;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 font-size: 1rem;
 font-weight: 600;
 height: var(--match_size);
 width: var(--match_size);
 border-radius: 50%;
 flex-shrink: 0;
 color: #ffffff;
 outline: 0.25rem solid #ffffff;
 background: #62676f;
}
[timing=upcoming] .match_number {
 background: #62676f;
}
[timing=current] .match_number {
 background: #6299ef;
}
[timing=past] .match_number {
 background: #256dc1;
}