@use "sass:color";
@use "../../abstracts" as *;

// Profile Image
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=48%3A2737&t=WOZdHWgOjktRD2qI-1
// Dependancy: none

.profile_image {
	font-size: 12/16 * 1rem;
	width: 48/12 * 1em;
	height: 48/12 * 1em;
	position: relative;
	outline: 0.25rem solid $white;
	background: $grey-200;
	color: $grey-900;
	border-radius: 50%;
	overflow: hidden;
	@include f-center;
	&.large {
		font-size: 22/16 * 1rem;
	}
	span {
		text-align: center;
		line-height: 100%;
		text-transform: uppercase;
	}
	img {
		@include image_cover;
		&[src="undefined"],
		&[src=""] {
			display: none;
		}
	}
}
