.profile_image {
 font-size: 0.75rem;
 width: 4em;
 height: 4em;
 position: relative;
 outline: 0.25rem solid #ffffff;
 background: #c8ccd2;
 color: #141b24;
 border-radius: 50%;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}
.profile_image.large {
 font-size: 1.375rem;
}
.profile_image span {
 text-align: center;
 line-height: 100%;
 text-transform: uppercase;
}
.profile_image img {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 -o-object-fit: cover;
    object-fit: cover;
}
.profile_image img[src=undefined], .profile_image img[src=""] {
 display: none;
}