@use "sass:color";
@use "../../abstracts" as *;

// Buttons
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=115%3A6202&t=ABLNr4VmXRynJqTI-1
// Dependancy: none

.reminder_text {
	--background_color: #{$grey-50};
	--accent_color: #{$blue-500};

	@include text_base($p: 12, $h: 1.45);
	color: $grey-700;
	padding: 0.75rem;
	background-color: var(--background_color);
	border-radius: 0.25rem;
	margin: 2rem var(--margin-wide);
	text-align: center;
	&-- {
		&text {
			line-height: inherit;
			color: inherit;
			font-size: inherit;
			b {
				font-weight: 700;
			}
			em {
				font-weight: 700;
				color: var(--accent_color);
			}
			.dyn-text {
				font-weight: 700;
				color: var(--accent_color);
			}
		}
	}
	&.warning {
		--background_color: #{$warning-200};
		--accent_color: #{$warning-500};
		font-style: italic;
	}
	&.error {
		--background_color: #{$red-200};
		--accent_color: #{$red-500};
		font-style: italic;
	}
}
