@use "sass:color";
@use "../../abstracts" as *;

// Score Total
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=49%3A335&t=WOZdHWgOjktRD2qI-1
// Dependancy: none

.score_total {
	@include text_base;
	color: $grey-400;
	border: 0.125rem solid currentColor;
	@include f-center;
	gap: 0.1em;
	padding: 5/16 * 1rem 6/16 * 1rem;
	min-width: 30/16 * 1rem;
	border-radius: 3/16 * 1rem;
	font-weight: 600;

	&[diff="positive"] {
		color: $green-500;
	}
	&[diff="negative"] {
		color: $red-500;
	}
	&[data="total"] {
		color: $blue-500;
	}
}
