@use "sass:color";
@use "../../abstracts" as *;

// Score Match
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=49%3A426&t=WOZdHWgOjktRD2qI-1
// Dependancy: none

.score_match {
	color: $grey-900;
	background: $grey-100;

	@include text_base;
	font-size: 10/16 * 1rem;
	border-radius: 0.25rem;
	width: 2rem;
	height: 2rem;
	@include f-center;
	font-weight: 600;
	// span {
	// }

	&[data="currentScore"] {
		.victory & {
			color: $white;
			background: $green-500;
		}
		.loss & {
			color: $white;
			background: $red-500;
		}
		.no-score & {
			color: $grey-900;
			background: transparent;
		}
	}
	&[data="opponentScore"] {
		.no-score & {
			opacity: 0;
		}
	}
}
