.score_total {
 font-size: 0.75rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 600;
 letter-spacing: -0.01em;
 color: #959aa0;
 border: 0.1rem solid currentColor;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0.1em;
 padding: 0.3125rem 0.3125rem;
 min-width: 1.5rem;
 border-radius: 0.1875rem;
}
.score_total[diff=positive] {
 color: #11955e;
}
.score_total[diff=negative] {
 color: #ce1234;
}
.score_total[data=total] {
 color: #2f7bd5;
}