.text_input {
 font-size: 0.875rem;
 --input_space-v: 1rem;
 --input_space-h: 1rem;
}
.text_input--container {
 position: relative;
 margin-top: 0.2142857143em;
 display: flex;
}
.text_input--label {
 position: absolute;
 left: var(--input_space-h);
 top: var(--input_space-v);
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 background-color: var(--background_color);
 padding: 0 0.25rem;
 margin: 0 -0.25rem;
 transition: 0.3s all;
 transform: translate(0, 0);
 font-size: 1em;
 color: #c8ccd2;
}
input:not(:-moz-placeholder-shown) + .text_input--label {
 transform: translate(0, -50%);
 top: 0;
 font-size: 0.5rem;
 color: #484e56;
}
input:focus + .text_input--label, input:not(:placeholder-shown) + .text_input--label {
 transform: translate(0, -50%);
 top: 0;
 font-size: 0.5rem;
 color: #484e56;
}
input:focus + .text_input--label {
 color: #2f7bd5;
}
.text_input--input {
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 padding: var(--input_space-v) var(--input_space-h);
 border-radius: 0.25rem;
 border: 1px solid currentColor;
 font-size: 1em;
 height: 1em;
 color: #7c8188;
 flex-grow: 1;
 width: 100%;
}
.text_input--input:focus {
 outline: 0;
 color: #2f7bd5;
}

textarea.text_input--input {
 height: auto;
 min-height: 9.25rem;
 border-color: #c8ccd2;
}
textarea.text_input--input:focus {
 border-color: #2f7bd5;
 color: #2f7bd5;
}
textarea.text_input--input:not(:-moz-placeholder-shown) {
 color: #484e56;
}
textarea.text_input--input:not(:placeholder-shown) {
 color: #484e56;
}
textarea.text_input--input + label {
 transform: translate(0, -50%);
 top: 0;
 font-size: 0.5rem;
}
textarea.text_input--input:not(:-moz-placeholder-shown) + label {
 color: #484e56;
}
textarea.text_input--input:not(:placeholder-shown) + label {
 color: #484e56;
}
textarea.text_input--input:not(:-moz-placeholder-shown):focus + label {
 color: #2f7bd5;
}
textarea.text_input--input:focus + label, textarea.text_input--input:not(:placeholder-shown):focus + label {
 color: #2f7bd5;
}