@use '../abstracts' as *;


//================================================
//================================================
// Footer Styles
//================================================
//================================================


footer{

margin-top: var(--unit_type_B);
padding: var(--gap) 0;
grid-gap: var(--gap);

	.social{
		@include flex_center_horizontal();
		grid-column: main_start / main_end;
		@include md() {
			grid-column: main_start / span 6;
			justify-content: flex-start;
		}

		a.social_link{
			margin: 0 1.125rem;
			font-size:.875rem;
			color: var(--text_color_primary);
			text-decoration: none;
			font-weight: 600;
			position: relative;
			transition: .3s all;
			opacity: .7;

			@include md() {
				margin: 0 1.5rem;
				font-size:1rem;
			}

			&::after{
				color: inherit;
				content:"";
				display: block;
				position: absolute;
				bottom: -.125rem;
				left: 0;
				height: .125rem;
				width: 0%;
				transition: .15s all;
				background: currentColor;
			}

			&:hover{
				opacity: 1;
				&::after{
					width: 100%;
				}
			}
		}
	}
	.copyright{

		grid-column: main_start / main_end;
		color: var(--text_color_primary);
		font-size:.875rem;
		opacity: .7;
		text-align: center;

			@include md() {
			grid-column: span 6 / main_end;
			text-align: right;
			font-size:1rem;
			}

	}
}