@use '../abstracts' as *;
//================================================
//================================================
// base project--list
//================================================
//================================================

.content.screen_effect{
	mix-blend-mode: screen;
	background-color: $dark_2;
	position: relative;
	transition: .2s all;
	transform: perspective(30rem);
	.default{
		mix-blend-mode: screen;
		opacity: .65;
	}
	.hover{
		// hover state - starts 
		@include image_cover();
		opacity: 0;
		transition: .3s all;
	}
}//content.screen_effect


//image hover effect
a.item_project{
	&:hover, &:focus{
		.image_area{
			.content{
				.hover{
					opacity: 1;
				}
			}
		}//image_area
		.text_area{
			.content{
				transform: scale(1.1);
			}
		}//text_area
	}//hilight a.item_project
}//a.item_project




.project--list{
	padding: var(--gap) 0;

//wrapper for multiple items
.grid_area.block{
	//only one item in the group
	--items_per_row: 1;
	grid-row-gap:calc(var(--gap) * 2);

		a.item_project{
			@include repeat_main_grid();
			text-decoration: none;	

			.image_area{
				grid-column: 1 / span 11;
				grid-row: 1;

				@include md() {
					grid-column: 1 / span 8;
				}

				@include lg() {
					grid-column: 2 / span 7;
				}

				.content{
					@include cover_container();
					@include expand_hitbox(3, 8, 6, 8, rgba(0, 0, 0,1));
					//sets height of the element - 3/4 ratio
					padding-top: 75%;
					
					@include md() {
						//sets height of the element - 6/10 ratio
						padding-top: 60%;
						@include expand_hitbox(1, 8, 1, 8, rgba(0, 0, 0,1));
					}

					@include xl() {
						//change aspect ratio
						//sets height of the element - 9/20 ratio
						padding-top: 45%;
					}

					img.default{
						@include image_cover();
					}

				}//content

			}//image_area

				.text_area{
					grid-column: 1 / span 11;
					padding-bottom: 10%;
					pointer-events: none;

					@include md() {
						grid-row: 1;
						grid-column: 7 / span 4;
					}

					.content{
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content:flex-end;
						transition: .3s all;

						h1{
							svg{
								height: .5em;
							}
						}
					}
				}//text_area

				//flip justification of elements on every other item
				&:nth-child(even){
					.image_area{
						grid-column: 2 / span 11;
							@include md() {
								grid-column: 3 / span 8;
							}
							@include lg() {
								grid-column: 4 / span 7;
							}
					}//image_area

					.text_area{
						grid-column: 2 / span 11;
						@include md() {
							grid-column: 9 / span 4;
						}

					}//text_area
				}//even

		}//a.item_project

}//grid_area

}//project--list


//================================================
// other--project--list
//================================================


.other--project--list {
	padding: calc(var(--gap) * 1.5) 0;
	.grid_area.block {
		--items_per_row: 1;
		.content {
			grid-template-rows: repeat(4, auto);
		}
		@include md() {
			--items_per_row: 2;
		}
		@include lg() {
			--items_per_row: 3;
		}
		a.item_project {
			@include repeat_main_grid();
			position: relative;
			margin-bottom: calc(var(--gap) * 3);
			text-decoration: none;
			@include md() {
				margin-bottom: calc(var(--gap) * 2);
				&:nth-child(1) {
					grid-row: 1 / span 2;
				}
				&:nth-child(2) {
					grid-row: 2 / span 2;
				}
				&:nth-child(3) {
					grid-row: 3 / span 2;
				}
			}
			@include lg() {
				margin-bottom: calc(var(--gap) * 1);
				&:nth-child(3) {
					grid-column: 3;
				}
			}
			.image_area {
				grid-column: 3/ span 10;
				@include md() {
					grid-column: 1/-1;
				}
				.content {
					@include cover_container();
					padding-top: 100%;
					transition: .2s all;
					@include expand_hitbox(1, 4, 2, 4, rgba(0, 0, 0,1));
					@include md() {
						@include expand_hitbox(2, 1, 4, 1, rgba(0, 0, 0,1));
					}
					img.default {
						@include image_cover();
					}
				}
			} //image_area
			.text_area {
				grid-column: 3/ span 10;
				@include md() {
					grid-column: 1/-1;
				}
				.content {
					text-align: right;
					transition: .3s all;
					h3 {
						position: relative;
						svg {
							height: .5em;
							transition: .3s all;
						}
					}
				}
			} //text _area
			&:hover, &:focus {
				.image_area {
					.content {
						.hover {
							opacity: 1;
						}
					}
				}
				.text_area {
					.content {
						transform: scale(1.1) translate(-5%, -10%);
						h3 {
							svg {
								margin-right: .25rem;
								margin-bottom: .25rem;
							}
						}
					}
				}
			} //hover
			//flip justification of elements on every other item
			&:nth-child(even) {
				.text_area, .image_area {
					grid-column: 1 / span 10;
					@include md() {
						grid-column: 1/-1;
					}
				}
			} //even
		} //item_project
	} //grid_area.block
}



//================================================
// video_item_list
//================================================

a.video_item, a.video_item_link{
	text-decoration: none;
	.text_area{
		margin-top: var(--gap);
		p{
			margin-bottom: .5em;
		}
		h5{
			svg{
				height: .5em;
			}
		}
	}

	&:hover, &:focus{
		.image_area{
			.hover{
				opacity:1;
			}
		}
	}//hover a.video_item, a.video_item_link

	// hide stored content for the light box features
	.details{
		display: none;
	}

}// a.video_item



.is-touch{
	a.item_project{
			&.is-highlighted{
				.image_area{
					.content{
						.hover{
							opacity: 1;
						}
					}
				}//image_area
				.text_area{
					.content{
						transform: scale(1.1);
					}
				}//text_area
			}//hilight a.item_project

	}//a.item_project
}
