@import '../abstracts';

//================================================
// Section Label
//================================================

.section--label{
padding-top: calc(var(--gap) * 3);
padding-bottom: calc(var(--gap) * 2);
overflow: hidden;

	@include lg() {

	}


	.text_area{

		.content{
			h2{//this can prbably be moved to _text_styles and not repeat in multuple places
				div{
					//sets position using inline cusotm property
					position: relative;
					left: var(--x_position);
					svg{
						// arrow svg
						height: .5em;
					}
				}
			}//h2
		}

		&.justify-right{
			text-align: right;
			.content{
				h2{
					div{
						left:auto;
						right: var(--x_position);
					}
				}
			}
		}
	}//text_area

	& + *{
		padding-top: 0;
	}
}//section--label

