.toggle_input {
 --toggle_size: 1.5rem;
}
.toggle_input--container {
 position: relative;
}
.toggle_input--input {
 position: absolute;
 opacity: 0;
 z-index: -1;
 max-height: 0;
 max-width: 0;
}
.toggle_input--label {
 color: #c8ccd2;
 display: block;
 width: calc(var(--toggle_size) * 2);
 background-color: currentColor;
 height: var(--toggle_size);
 border-radius: var(--toggle_size);
 outline: 0.125rem solid currentColor;
 position: relative;
 transition: 0.3s all;
}
.toggle_input--label::after {
 display: block;
 content: "";
 height: var(--toggle_size);
 width: var(--toggle_size);
 background-color: #ffffff;
 border-radius: 50%;
 transition: 0.3s all;
}
input:checked + .toggle_input--label {
 color: #2f7bd5;
}
input:checked + .toggle_input--label::after {
 transform: translateX(100%);
}
.toggle_input--row {
 display: flex;
 gap: 1rem;
}
.toggle_input--description {
 flex-grow: 1;
 width: 100%;
}

[has-prizes=true] #noPrizes {
 display: none;
}

[has-prizes=false] #hasPrizes {
 display: none;
}

.text_input {
 font-size: 0.875rem;
 --input_space-v: 1rem;
 --input_space-h: 1rem;
}
.text_input--container {
 position: relative;
 margin-top: 0.2142857143em;
 display: flex;
}
.text_input--label {
 position: absolute;
 left: var(--input_space-h);
 top: var(--input_space-v);
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 background-color: var(--background_color);
 padding: 0 0.25rem;
 margin: 0 -0.25rem;
 transition: 0.3s all;
 transform: translate(0, 0);
 font-size: 1em;
 color: #c8ccd2;
}
input:not(:-moz-placeholder-shown) + .text_input--label {
 transform: translate(0, -50%);
 top: 0;
 font-size: 0.5rem;
 color: #484e56;
}
input:focus + .text_input--label, input:not(:placeholder-shown) + .text_input--label {
 transform: translate(0, -50%);
 top: 0;
 font-size: 0.5rem;
 color: #484e56;
}
input:focus + .text_input--label {
 color: #2f7bd5;
}
.text_input--input {
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 padding: var(--input_space-v) var(--input_space-h);
 border-radius: 0.25rem;
 border: 1px solid currentColor;
 font-size: 1em;
 height: 1em;
 color: #7c8188;
 flex-grow: 1;
 width: 100%;
}
.text_input--input:focus {
 outline: 0;
 color: #2f7bd5;
}

textarea.text_input--input {
 height: auto;
 min-height: 9.25rem;
 border-color: #c8ccd2;
}
textarea.text_input--input:focus {
 border-color: #2f7bd5;
 color: #2f7bd5;
}
textarea.text_input--input:not(:-moz-placeholder-shown) {
 color: #484e56;
}
textarea.text_input--input:not(:placeholder-shown) {
 color: #484e56;
}
textarea.text_input--input + label {
 transform: translate(0, -50%);
 top: 0;
 font-size: 0.5rem;
}
textarea.text_input--input:not(:-moz-placeholder-shown) + label {
 color: #484e56;
}
textarea.text_input--input:not(:placeholder-shown) + label {
 color: #484e56;
}
textarea.text_input--input:not(:-moz-placeholder-shown):focus + label {
 color: #2f7bd5;
}
textarea.text_input--input:focus + label, textarea.text_input--input:not(:placeholder-shown):focus + label {
 color: #2f7bd5;
}

.range_input {
 --thumb_size: 1.75rem;
 --track_height: 0.25rem;
}
.range_input--container {
 position: relative;
 border-top: 1.5rem solid transparent;
 margin: calc(var(--thumb_size) / 2);
}
.range_input--input {
 width: 100%;
 height: var(--track_height);
 margin: 0;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 z-index: 3;
 -webkit-appearance: none;
 -moz-appearance: none;
      appearance: none;
 opacity: 0;
}
.range_input--input::-webkit-slider-thumb, .range_input--input::-moz-range-thumb {
 -webkit-appearance: none;
 appearance: none;
 opacity: 0;
 width: var(--thumb_size);
 height: var(--thumb_size);
 border-radius: 50%;
 cursor: pointer;
}
.range_input--thumb {
 width: var(--thumb_size);
 height: var(--thumb_size);
 border-radius: 50%;
 position: absolute;
 top: 50%;
 transform: translate(-50%, -50%);
 background-color: #2f7bd5;
 z-index: 2;
 left: 0;
}
.range_input--thumb span {
 display: block;
 position: absolute;
 bottom: 100%;
 left: 50%;
 transform: translate(-50%, -0.5rem);
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 color: #7c8188;
}
.range_input--track {
 height: var(--track_height);
 width: 100%;
 border-radius: var(--track_height);
 background-color: #9ec0f5;
 top: 50%;
 left: 0;
 transform: translateY(-50%);
 position: absolute;
 z-index: 1;
}

form.radio-horizontal .input_group {
 display: flex;
 gap: 0.625rem;
 flex-direction: row;
 --input_size: 0.875rem;
}

.check_input {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
.check_input--container {
 width: 100%;
}
.check_input--label {
 display: flex;
 gap: 0.5rem;
 align-items: center;
 position: relative;
}
.check_input--input {
 display: none;
}
.check_input--icon {
 color: #959aa0;
 width: 1.25rem;
 height: 1.25rem;
 border-radius: 50%;
 border: 0.09375em solid currentColor;
 font-size: 1.25rem;
 display: flex;
 justify-content: center;
 align-items: center;
}
.check_input--icon svg {
 fill: none;
 width: 75%;
}
.check_input--icon svg * {
 fill: none;
 stroke: currentColor;
 stroke-width: 0.09375em;
 display: none;
}
input:checked ~ .check_input--icon {
 color: #2f7bd5;
}
input:checked ~ .check_input--icon .check {
 display: initial;
}
.emphasis input:checked ~ .check_input--icon {
 color: #ffffff;
 background-color: #2f7bd5;
 border-color: #2f7bd5;
}
.emphasis.icon-inner input:checked ~ .check_input--icon {
 color: #2f7bd5;
 background-color: #ffffff;
 border-color: #ffffff;
}
.add_new .check_input--icon {
 color: #c8ccd2;
}
.add_new .check_input--icon .plus {
 display: initial;
}
.add_new .check_input--icon .check {
 display: none;
}
.icon-inner .check_input--icon {
 position: absolute;
 left: 1rem;
 height: 0.875rem;
 width: 0.875rem;
 border-width: 0.0625rem;
}
.icon-inner .check_input--icon svg path {
 stroke-width: 2;
}
.icon-inner .check_input--icon svg .check {
 display: initial;
 stroke: #2f7bd5;
}
.check_input--name {
 text-align: center;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 padding: 1rem 1rem;
 border-radius: 0.25rem;
 border: 1px solid currentColor;
 background-color: transparent;
 background-color: var(--background_color);
 font-size: var(--input_size);
 height: var(--input_size);
 line-height: 100%;
 letter-spacing: -0.01em;
 color: #7c8188;
 flex-grow: 1;
 font-weight: 300;
}
.has-dropdown .check_input--name {
 padding: 0rem 1rem;
 display: flex;
 flex-direction: column;
 min-height: calc(var(--input_size) + 1rem + 1rem);
 justify-content: center;
 gap: 0.25rem;
}
.check_input--name .selected_item {
 font-size: 0.5rem;
}
.check_input--name .selected_item:empty {
 display: none;
}
input:checked ~ .check_input--name {
 border-color: #2f7bd5;
 background-color: #f6f8f9;
 color: #2f7bd5;
}
.emphasis input:checked ~ .check_input--name {
 border-color: #9ec0f5;
 background-color: #2f7bd5;
 color: #ffffff;
}
.add_new .check_input--name {
 color: #c8ccd2;
 border-color: #c8ccd2;
}
.icon-inner .check_input--name p {
 margin-left: 1.5rem;
}
.check_input--icon + .check_input--name {
 text-align: left;
}
.check_input--row .input_group {
 display: flex;
 gap: 0.625rem;
 flex-direction: row;
 --input_size: 0.875rem;
}

.radio_input {
 display: flex;
 flex-direction: row;
 gap: 1rem;
}
.radio_input--input {
 display: none;
}
.radio_input--number {
 color: #c8ccd2;
 border: 0.0625rem solid #c8ccd2;
 width: 1.5rem;
 height: 1.5rem;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}
input:checked ~ .radio_input--number {
 border: 0.0625rem solid #2f7bd5;
 background: #2f7bd5;
 color: #ffffff;
}

.scoreboard_input {
 height: 100%;
 display: flex;
 flex-direction: column;
 gap: 0.125rem;
 justify-content: stretch;
 align-items: stretch;
}
@media (orientation: landscape) {
 .scoreboard_input {
  flex-direction: row;
  width: 100%;
 }
}
.scoreboard_input button.button {
 --button-primary: #ffffff;
 --button-secondary: #484e56;
}
.scoreboard_input--container {
 --solid_background: #2f7bd5;
 background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), var(--solid_background);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
 position: relative;
}
.scoreboard_input--container#teamAway {
 --solid_background: #d5572f;
}
.scoreboard_input--label {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 2rem 0;
}
.scoreboard_input--label button.up,
.scoreboard_input--label button.down {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 50%;
 background: rgba(0, 0, 0, 0);
 border: 0;
 outline: 0;
}
.scoreboard_input--label button.down {
 top: auto;
 bottom: 0;
}
.scoreboard_input--name {
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 color: #ffffff;
 font-size: 1.125rem;
 font-weight: 500;
}
.scoreboard_input--name p {
 font-weight: inherit;
 font-size: inherit;
 color: inherit;
}
.scoreboard_input--display h1 {
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 font-size: 12.75rem;
 color: #ffffff;
 font-weight: 800;
}
.scoreboard_input--input {
 display: none;
}
.scoreboard_input--submit {
 background-color: #484e56;
 padding: 2rem;
}
@media (orientation: landscape) {
 .scoreboard_input--submit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
 }
}

.dropdown_input {
 color: var(--text_color-primary);
 font-size: 1.125rem;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0.4em;
}
.dropdown_input--label {
 font-size: 0.875rem;
 line-height: 1;
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-weight: 300;
 letter-spacing: -0.01em;
 color: inherit;
 font-size: inherit;
 font-weight: 500;
}
.dropdown_input--carrot {
 width: 0.6em;
 color: inherit;
}
.dropdown_input--carrot path {
 fill: currentColor;
}