@use "sass:color";
@use "../../abstracts" as *;

// Radio Input
// Visual: https://www.figma.com/file/UcgZxmAdDH7Msie63Hz42r/King-of-the-court?node-id=89%3A3290&t=27fcPh1EOu6TvhVo-1
// Dependancy: none

.radio_input {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	&-- {
		//label functions as the container for radio so the entire object is clickable
		&label {
		} //label
		&input {
			display: none;
		} //input
		&number {
			color: $grey-200;
			border: 1/16 * 1rem solid $grey-200;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			@include f-center;

			// &::after {
			// 	@include text_base;
			// 	content: "1";
			// 	display: block;
			// 	font-weight: 600;
			// 	font-size: 0.75rem;
			// }

			input:checked ~ & {
				border: 1/16 * 1rem solid $blue-500;
				background: $blue-500;
				color: $white;
			}
		} //number
	}
}
