button.button {
 --button-primary: #2f7bd5;
 --button-secondary: #ffffff;
 color: var(--button-secondary);
 background: var(--button-primary);
 border: 1px solid var(--button-primary);
 font-family: "Public Sans", Helvetica, Arial, sans-serif;
 font-size: 0.75rem;
 padding: 0.9166666667em 1.1666666667em;
 border-radius: 0.25rem;
 border: 0;
 outline: 0;
 width: 100%;
 text-align: center;
}
button.button.button-blue-100 {
 --button-primary: #f1f6fe;
 --button-secondary: #000000;
}
button.button.button-blue-200 {
 --button-primary: #dae7fb;
 --button-secondary: #000000;
}
button.button.button-blue-300 {
 --button-primary: #9ec0f5;
 --button-secondary: #000000;
}
button.button.button-blue-400 {
 --button-primary: #6299ef;
 --button-secondary: #000000;
}
button.button.button-grey-50 {
 --button-primary: #f6f8f9;
 --button-secondary: #000000;
}
button.button.button-grey-100 {
 --button-primary: #edf0f2;
 --button-secondary: #000000;
}
button.button.button-grey-200 {
 --button-primary: #c8ccd2;
 --button-secondary: #000000;
}
button.button.button-grey-300 {
 --button-primary: #afb3ba;
 --button-secondary: #000000;
}
button.button.button-white {
 --button-primary: #ffffff;
 --button-secondary: #000000;
}
button.button.button-red-200 {
 --button-primary: #feecef;
 --button-secondary: #000000;
}
button.button.button-warning-200 {
 --button-primary: #fcf2cd;
 --button-secondary: #000000;
}
button.button.button-blue-700 {
 --button-primary: #2161ad;
 --button-secondary: #ffffff;
}
button.button.button-blue-600 {
 --button-primary: #256dc1;
 --button-secondary: #ffffff;
}
button.button.button-blue-500 {
 --button-primary: #2f7bd5;
 --button-secondary: #ffffff;
}
button.button.button-grey-900 {
 --button-primary: #141b24;
 --button-secondary: #ffffff;
}
button.button.button-grey-800 {
 --button-primary: #2e343c;
 --button-secondary: #ffffff;
}
button.button.button-grey-700 {
 --button-primary: #484e56;
 --button-secondary: #ffffff;
}
button.button.button-grey-600 {
 --button-primary: #62676f;
 --button-secondary: #ffffff;
}
button.button.button-grey-500 {
 --button-primary: #7c8188;
 --button-secondary: #ffffff;
}
button.button.button-grey-400 {
 --button-primary: #959aa0;
 --button-secondary: #ffffff;
}
button.button.button-black {
 --button-primary: #000000;
 --button-secondary: #ffffff;
}
button.button.button-red-500 {
 --button-primary: #ce1234;
 --button-secondary: #ffffff;
}
button.button.button-warning-500 {
 --button-primary: #edba08;
 --button-secondary: #ffffff;
}
button.button.button-green-500 {
 --button-primary: #11955e;
 --button-secondary: #ffffff;
}
button.button.ghost {
 color: var(--button-primary);
 background: transparent;
 border: 1px solid var(--button-primary);
}
button.button.small {
 padding: 0.5em 1.1666666667em;
}