button.icon_button {
 background: #ffffff;
 color: #2f7bd5;
 border: 1px solid #ffffff;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 2rem;
 height: 2rem;
 outline: 0;
}
button.icon_button i {
 font-family: "Material Symbols Outlined";
 font-weight: normal;
 font-style: normal;
 font-size: 1.25rem;
 line-height: 1;
 letter-spacing: normal;
 text-transform: none;
 display: inline-block;
 white-space: nowrap;
 word-wrap: normal;
 direction: ltr;
 -moz-font-feature-settings: "liga";
 -moz-osx-font-smoothing: grayscale;
 font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
button.icon_button.state_1 {
 background: #f1f6fe;
 color: #2f7bd5;
 border: 1px solid #ffffff;
}
button.icon_button.state_2 {
 background: #2f7bd5;
 color: #ffffff;
 border: 1px solid #6299ef;
}